

<ion-content padding style="background: #5e5e5e url('assets/imgs/login/background.jpg')  top left / cover no-repeat">



  <div class='wrapper' style="max-width:250px;" class="center-div" text-center="" >
    <h5>WELCOME TO</h5>

    <img class="img-responsive" src="assets/imgs/logohrms.png" />
    <form  [hidden]="this.userProvider.userSession.isLoggedIn" class="ionContent myForm" #loginFormId="ngForm" (submit)="loginFormSubmit(loginFormId)">
      <!--<ion-list no-padding="">-->
    <div class='formControl' *ngFor="let currentBaseForm of loginForms">

      <!--<div style="display:inline-block; max-width: 50px;height 100%">-->
              <!--<ion-img  class="img-responsive" src="assets/imgs/logohrms.png"></ion-img>-->

      <!--</div>-->
      <!--<div style="display:inline-block;max-width: 190px">-->
              <!--<floating-input padding="10" no-padding="" [baseForm]="currentBaseForm" [parentForm]="loginFormId"></floating-input>-->
      <!--</div>-->


      <div class="img">
        <img style='' class="img-responsive" src="{{currentBaseForm['image']}}"/>
      </div>
      <div class="input">
              <input (keyup)="currentBaseForm.broadcastNgChange($event,loginFormId)"  [type]="currentBaseForm.getInputTypeText()" [placeholder]="currentBaseForm.placeholder" [name]="currentBaseForm.name" [(ngModel)]="currentBaseForm.value"/>

        <!--<floating-input [baseForm]="currentBaseForm" [parentForm]="loginFormId"></floating-input>-->
      </div>
    </div>

      <!--</ion-list>-->

      <button class="loginButton" >Login</button>
    </form>


    <p *ngFor="let currentInfo of this.version">
      {{currentInfo.key}}: {{currentInfo.value}}
    </p>

  </div>



</ion-content>


