<!--
  Generated template for the VisitationApplicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar #navbar  >
    <button ion-button menuToggle *ngIf="!this.rootParam.isPartial" >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center="" >{{title}}
      <!--<span *ngIf="this.badge;let resultBadge" item-right=""><ion-badge *ngIf="(resultBadge.badgeVisitation != 0);"  color="danger" >{{resultBadge.badgeVisitation}}</ion-badge></span>-->

    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding="" [ngClass]="{'partial':this.rootParam.isPartial}">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-segment *ngIf="!pageParam.isApply && !pageParam.isEditing" (ionChange)="ionSegmentChange()"  style='margin-top:16px;'[(ngModel)]="segmentValue">
    <ion-segment-button *ngIf="!pageParam.isApproval" value="summary"  >
      Summary
    </ion-segment-button>
    <ion-segment-button *ngIf="!pageParam.isApproval" value="apply"  >
      Apply
    </ion-segment-button>
    <ion-segment-button value="list" >
      List
    </ion-segment-button>
  </ion-segment>


  <!---->

  <div  [ngSwitch]="segmentValue">



    <div *ngIf="segmentValue =='summary' ">
      <div  *ngIf="this.leaveApplicationTop;let result">
        <ion-card>

          <ion-card-header>
            User Information
          </ion-card-header>

          <ion-card-content>
            <h5>{{userProvider.userSession.empId}} {{userProvider.userSession.name}}</h5>
            <h5 >Current Date {{result.currentDate || helperProvider.getCurrentDate(false)}}</h5>
          </ion-card-content>

        </ion-card>

        <!--<p text-center="">{{userProvider.userSession.empId}} {{userProvider.userSession.name}}</p>-->
        <!--<p text-center="">Current Date {{result.currentDate || helperProvider.getCurrentDate(false)}}</p>-->

        <ion-card>
          <ion-card-header>Leave Summary</ion-card-header>
          <ion-list *ngFor="let summary of this.summary" padding="" class="summary">
            <span class="description">{{summary.key}}</span>
            <span  [ngClass]="{colorGreen:summary.key.toLowerCase().indexOf('leave available as') >-1}" class="detail" item-right="" class="detail">{{summary.value}}</span>
          </ion-list>









        </ion-card>
    </div>

    </div>

    <div *ngIf="segmentValue == 'apply'">
      <ion-grid >
        <ion-row >


          <!--<ion-col *ngIf="pageParam.isEditing" col-12="" >-->
          <!--<button  (click)="this.navCtrl.pop()" no-padding="" block     ion-button="" clear="" small="">Cancel Edit</button>-->
          <!--</ion-col>-->
        </ion-row>
      </ion-grid>
    </div>


  </div>








  <div *ngIf="segmentValue == 'list'">

    <!--<button  *ngIf="!this.pageParam.isApprover" style="margin-bottom:24px;" (click)="newApply()" ion-button="" block="" color="danger">Apply</button>-->


    <ion-list style="border: 1px solid #C4C4C4; border-radius:5px;">

      <ion-item (click)="filter.isOpen = !filter.isOpen">
        <h3>Search for {{title}}</h3>
        <span item-end="">
              <ion-icon name="arrow-down" *ngIf="filter.isOpen"></ion-icon>
              <ion-icon name="arrow-up" *ngIf="!filter.isOpen"></ion-icon>
            </span>
      </ion-item>
      <span *ngIf="filter.isOpen" class="animation-expand-bottom">

          <ion-item>
            <ion-label>Year</ion-label>
            <ion-select [(ngModel)]="filter.cmbYear" interface="popover">
              <!--<ion-option value="" selected="">&#45;&#45;All&#45;&#45;</ion-option>-->
              <ion-option *ngFor="let i of this.helperProvider.getCmbRule(this.leaveApplicationTop,'cmbYear')" selected="" [value]="i.value">{{i.text}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Month</ion-label>
            <ion-select [(ngModel)]="filter.cmbMonth" interface="popover">

              <ion-option *ngFor="let object of this.helperProvider.getCmbRule(this.leaveApplicationTop,'month')" [value]="object.value" >{{object.text}}</ion-option>
            </ion-select>
          </ion-item>


          <ion-item *ngIf="!pageParam.isApproval">
            <ion-label>Status</ion-label>
            <ion-select  [(ngModel)]="filter.cmbStatus" interface="popover">
              <ion-option *ngFor="let object of this.helperProvider.getCmbRule(this.leaveApplicationTop,'cmbStatus')" [selected]="true" [value]="object.value" >{{object.text}}</ion-option>
            </ion-select>
          </ion-item>



          <ion-item>
            <ion-label>Leave Type</ion-label>
            <ion-select  [(ngModel)]="filter.cmbType" interface="popover">
              <ion-option *ngFor="let object of this.helperProvider.getCmbRule(this.leaveApplicationTop,'cmbType')"  [value]="object.value" >{{object.text}}</ion-option>
            </ion-select>
          </ion-item>



        <ion-item *ngIf="pageParam.isApproval">
          <ion-label>Department</ion-label>
          <ion-select [(ngModel)]="filter.cmbDepartment" interface="popover">

            <ion-option *ngFor="let object of this.helperProvider.getCmbRule(this.filterRule,'cmbDepartment')"
                        [value]="object.value">{{object.text}}</ion-option>
          </ion-select>
        </ion-item>



        <ion-item *ngIf="pageParam.isApproval">
          <ion-label>Section</ion-label>
          <ion-select [(ngModel)]="filter.cmbSection" interface="popover">

            <ion-option *ngFor="let object of this.helperProvider.getCmbRule(this.filterRule,'cmbSection')"
                        [value]="object.value">{{object.text}}</ion-option>
          </ion-select>
        </ion-item>




        <ion-item *ngIf="pageParam.isApproval">
          <ion-label >Search by</ion-label>
          <ion-select  [(ngModel)]="filter.cmbSearch" interface="popover">
            <ion-option *ngFor="let object of this.helperProvider.getCmbRule(this.filterRule,'cmbSearch')" [selected]="true" [value]="object.value" >{{object.text}}</ion-option>
          </ion-select>
        </ion-item>


        <ion-item *ngIf="pageParam.isApproval">
          <ion-label >Key word</ion-label>
          <ion-input [(ngModel)]="filter.keyWord"></ion-input>
        </ion-item>


          <ion-item>
            <button (click)="getList()" ion-button="" block="">Search</button>
          </ion-item>

        </span>

    </ion-list>
    <p style="background: #C4F0FF;padding-top:0;padding-bottom:0" no-padding="" >Listing</p>



    <span *ngIf="this.listData"><p padding="" *ngIf="  listData.total == 0">No record</p></span>

    <ion-grid *ngIf="this.listData">
      <ion-row >
        <!--<p>page: {{currentVisitationData.page}}/{{currentVisitationData.maxpage}}</p>-->
        <ion-col col-12="" col-sm-6="" col-md-4="" *ngFor="let record of listData.data">
          <ion-card >
            <ion-card-header  (click)="record.isOpen = !record.isOpen">
              <ion-item no-padding="">
                <h2>{{(this.pageParam.isApproval ? record.data5 :record.type) | ifEmptyThenDash}}</h2>
                <span item-right="">
                <ion-icon name="arrow-down" *ngIf="record.isOpen"></ion-icon>
                <ion-icon name="arrow-up" *ngIf="!record.isOpen"></ion-icon>
                </span>
                <!--<small [innerHtml]=" (this.pageParam.isApproval ? record.data6 : record.status) | keepAsHtml" > </small>-->
              </ion-item>
              <p status-color="" [innerHtml]="record.status | keepAsHtml"></p>
            </ion-card-header>


            <div *ngIf="record.isOpen" ngClass=" animation-expand-bottom">
              <!--<div  ngClass=" animation-expand-bottom">-->


              <ion-list class="visitationMini" ngClass="ionContent" >

                <!--<ion-item *ngIf="!pageParam.isApproval">-->
                  <!--Status-->
                  <!--&lt;!&ndash;<span  [style.color]="this.getStatusColor(record.status)" item-end="">{{record.status | ifEmptyThenDash}} </span>&ndash;&gt;-->
                  <!--<span item-end="">{{record.status_str | ifEmptyThenDash}}</span>-->
                <!--</ion-item>-->

                <ion-item *ngIf="pageParam.isApproval">
                  {{record.data0}}
                </ion-item>

                <!--<ion-item *ngIf="record.visitor_name; let result">-->
                <!--Visitor Name-->
                <!--<span  [style.color]="this.getStatusColor(record.status)" item-end="">{{result}} </span>-->
                <!--</ion-item>-->

                <!--<ion-item>-->
                <!--Created By(Id)-->
                <!--<span item-end="">{{record.emp_id}} </span>-->
                <!--</ion-item>-->
                <ion-item>
                  Created date
                  <span item-end="">{{(this.pageParam.isApproval ? record.data1 : record.created_date) | ifEmptyThenDash:record.employee}}</span>
                </ion-item>
                <ion-item>
                  Leave from
                  <span item-end="">{{(this.pageParam.isApproval ? record.data3 : record.leave_date_from) | ifEmptyThenDash}}</span>
                </ion-item>
                <ion-item>
                  Leave to
                  <span item-right="">{{(this.pageParam.isApproval ? record.data4 : record.leave_date_to) | ifEmptyThenDash }}</span>
                </ion-item>
                <ion-item>
                  Total day(s)
                  <span item-right="">{{this.pageParam.isApproval ? record.data2 : record.total_day || 0 }} day(s)</span>
                </ion-item>

                <!--<ion-item>-->
                <!--Host Name-->
                <!--<span item-right="">{{record.host_name}}</span>-->
                <!--</ion-item>-->


              </ion-list>


              <ion-row no-padding>
                <!--<ion-col>-->
                <!--<button ion-button clear small color="danger" icon-start>-->
                <!--<ion-icon name='close-circle'></ion-icon>-->
                <!--Reject-->
                <!--</button>-->
                <!--</ion-col>-->
                <ion-col (click)="pushDetailPage(record)" text-center="">
                  <button ion-button block color="primary" icon-center>
                    <!--<ion-icon name='list-box'></ion-icon>-->
                    Detail
                  </button>
                </ion-col>
                <!--<ion-col text-right>-->
                <!--<button ion-button clear small color="primary" icon-start>-->
                <!--<ion-icon name='checkmark-circle'></ion-icon>-->
                <!--Approve-->
                <!--</button>-->
                <!--</ion-col>-->

              </ion-row>
            </div>



          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


    <!--<ion-infinite-scroll [enabled]="this.isInfiniteEnable" (ionInfinite)="doInfinite($event)">-->
      <!--<ion-infinite-scroll-content>Loading</ion-infinite-scroll-content>-->
    <!--</ion-infinite-scroll>-->

  </div>


</ion-content>
