<!--
  Generated template for the VisitationApplicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar #navbar>
    <button ion-button menuToggle *ngIf="!this.rootParam.isPartial">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center="">{{title}}
      <!--<span *ngIf="this.badge;let resultBadge" item-right=""><ion-badge *ngIf="(resultBadge.badgeVisitation != 0);"  color="danger" >{{resultBadge.badgeVisitation}}</ion-badge></span>-->

    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding="" [ngClass]="{'partial':this.rootParam.isPartial}">

  <!--<ion-segment *ngIf="!pageParam.isApply && !pageParam.isEditing" (ionChange)="ionSegmentChange()"  style='margin-top:16px;'[(ngModel)]="segmentValue">-->
  <!--<ion-segment-button *ngIf="!pageParam.isApproval" value="apply"  >-->
  <!--Apply-->
  <!--</ion-segment-button>-->
  <!--<ion-segment-button value="list" >-->
  <!--List-->
  <!--</ion-segment-button>-->
  <!--</ion-segment>-->


  <!---->

  <div [ngSwitch]="segmentValue">


    <div *ngIf="segmentValue == 'apply'">
      <ion-grid>
        <ion-row>

        </ion-row>
      </ion-grid>
    </div>


  </div>


  <div *ngIf="segmentValue == 'list'">

    <!--<button  *ngIf="!this.pageParam.isApprover" style="margin-bottom:24px;" (click)="newApply()" ion-button="" block="" color="danger">Apply</button>-->


    <ion-list style="border: 1px solid #C4C4C4; border-radius:5px;">

      <ion-item (click)="filter.isOpen = !filter.isOpen">
        <h3>Search for {{title}}</h3>
        <span item-end="">
              <ion-icon name="arrow-down" *ngIf="filter.isOpen"></ion-icon>
              <ion-icon name="arrow-up" *ngIf="!filter.isOpen"></ion-icon>
            </span>
      </ion-item>
      <span *ngIf="filter.isOpen" class="animation-expand-bottom">
        <ion-item>
          <ion-label>Date From</ion-label>
          <ion-datetime [(ngModel)]="filter.adate_from" interface="popover">
          </ion-datetime>
        </ion-item>


        <ion-item>
          <ion-label>Date To</ion-label>
          <ion-datetime [(ngModel)]="filter.adate_to" interface="popover">
          </ion-datetime>
        </ion-item>


        <ion-item>
          <button (click)="getList()" ion-button="" block="">Search</button>
        </ion-item>



        </span>

    </ion-list>



    <p style="background: #C4F0FF;padding-top:0;padding-bottom:0" no-padding="">Announcement</p>


    <span *ngIf="this.listData "><p padding=""
                                    *ngIf=" !this.listData.data || listData.total == 0">No Announcement</p></span>

    <ion-grid *ngIf="this.listData && this.listData.data">
      <ion-row>
        <!--<p>page: {{currentVisitationData.page}}/{{currentVisitationData.maxpage}}</p>-->
        <ion-col col-12="" col-sm-6="" col-md-4="" *ngFor="let record of listData.data">
          <ion-card>
            <ion-card-header (click)="record.isOpen = !record.isOpen">
              <ion-item no-padding="">
                <h2>{{helperProvider.ucWord(record.subject | ifEmptyThenDash)}}</h2>
                <span item-right="">
                <ion-icon name="arrow-down" *ngIf="record.isOpen"></ion-icon>
                <ion-icon name="arrow-up" *ngIf="!record.isOpen"></ion-icon>
                </span>

                <small [innerHtml]="record.description | keepAsHtml "></small>
              </ion-item>
              <!--<p><small>{{record.status}}</small></p>-->
            </ion-card-header>


            <div *ngIf="record.isOpen" ngClass=" animation-expand-bottom">
              <!--<div  ngClass=" animation-expand-bottom">-->


              <ion-list class="visitationMini" ngClass="ionContent">

                <ion-item *ngIf="!pageParam.isApproval">
                  <!--<span  [style.color]="this.getStatusColor(record.status)" item-end="">{{record.status | ifEmptyThenDash}} </span>-->
                  <span [innerHtml]="record.sortcont | keepAsHtml"></span>
                </ion-item>


              </ion-list>


              <ion-row no-padding>
                <!--<ion-col>-->
                <!--<button ion-button clear small color="danger" icon-start>-->
                <!--<ion-icon name='close-circle'></ion-icon>-->
                <!--Reject-->
                <!--</button>-->
                <!--</ion-col>-->
                <ion-col (click)="pushDetailPage(record)" text-center="">
                  <button ion-button block color="primary" icon-center>
                    <!--<ion-icon name='list-box'></ion-icon>-->
                    Detail
                  </button>
                </ion-col>
                <!--<ion-col text-right>-->
                <!--<button ion-button clear small color="primary" icon-start>-->
                <!--<ion-icon name='checkmark-circle'></ion-icon>-->
                <!--Approve-->
                <!--</button>-->
                <!--</ion-col>-->

              </ion-row>
            </div>


          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


    <!--<ion-infinite-scroll [enabled]="this.isInfiniteEnable" (ionInfinite)="doInfinite($event)">-->
    <!--<ion-infinite-scroll-content>Loading</ion-infinite-scroll-content>-->
    <!--</ion-infinite-scroll>-->

  </div>


</ion-content>
