<!--
  Generated template for the ApplyLeaveApplicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Leave Application</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>





  <div *ngIf="this.pageParam.leaveApplicationTop;let result">
    <p margin-bottom="" class="summary">
      <span class="description">Annual Leave Available as of {{helperProvider.getCurrentDate(false)}}</span>
      <span class="detail" item-right="" class="detail">{{result.info.available}} Days</span>
    </p>
    <p  class="summary">
      <span class="description">Annual Leave Available as of {{result.info.nextDate}}</span>
      <span class="detail" *ngIf="result.info">{{result.info.availableNext}} Days</span>
    </p>
  </div>

  <form #parentForm="ngForm" (submit)="formSubmit(parentForm)">
    <ion-list>
      <floating-input  *ngFor="let currentBaseForm of this.baseForms" [parentForm]="parentForm" [baseForm]="currentBaseForm"></floating-input>
    </ion-list>

    <button class="submitButton" ion-button=""  type="button" (click)="leavePage()" color="light">Cancel</button>
    <button  class="submitButton" ion-button=""  type="submit"  align-items-center="" color="primary">Submit</button>
  </form>
</ion-content>
