page-visitation-application {
  .ionContent{
    *{
      font-size: 14px !important;
    }
  }
  ion-list{

  }
  ion-label{
    margin:0 !important;
  }

  input{

  }
  .slider-pager {
    top: 20px;
    height:20px;
  }


  .submitButton{


    display: inline-block;
    width: 47%;


  }

  .visitationMini{
    ion-item{
      span{
        text-align: right;
      }
    }
  }

  .attachment{
    *{
      text-align:left;
      font-size:14px;
    }
    li{
      color: blue;
    }
  }
}


