page-visitation-application {
  .ionContent{
    *{
      font-size: 14px !important;
    }
  }
  ion-list{

  }
  ion-label{
    margin:0 !important;
  }

  input{

  }
  .slider-pager {
    top: 20px;
    height:20px;
  }


  //ion-slides{
  //  position:relative !important;
  //}
  //ion-slide{
  //  position:static !important;
  //  padding-top: 60px;
  //}
  //.submitButton{
  //
  //
  //  display: inline-block;
  //  width: 47%;
  //
  //  position:fixed;
  //  top:0px;
  //
  //
  //}
  //.submitButton:first-of-type{
  //  left: 0px;
  //}

  .visitationMini{
    ion-item{
      span{
        text-align: right;
      }
    }
  }

  .attachment{
    *{
      text-align:left;
      font-size:14px;
    }
    li{
      color: blue;
    }
  }


}


