page-home {



  ion-navbar{
    .toolbar-background{
      background: linear-gradient(#C0E5F6 0%, #fff 100%);
      //color:white;

    }
  }


  ion-content{
    background:linear-gradient(#3F8CC0 0%, #41B28C 100%);
    *{
      color:white;

    }
  }

  .section{
    padding: 12px 0 12px;
    border-bottom: 1px solid #C5D7E2;

  }


  .middleBadge{
    height: 100%;width: 1px; vertical-align: middle;display:inline-block;
  }
  .announcement{

    p{
      margin: 0;
      line-height: 20px;
    }

    .header{
      .title{
        font-weight: bold;
        text-decoration: underline;

      }
      .right{
        float:right;
      }
      //margin-bottom: 12px;
    }



    .content{
      overflow: hidden;
      text-overflow: ellipsis;
      //display: -webkit-box;
      //-webkit-line-clamp: 2;
      //-webkit-box-orient: vertical;
      max-height: 40px;
    }


  }



  .circleMenu{
    text-align: center;

    .imageContainer{
      position: relative;

      text-align: center;
      img{
        max-height: 8rem;
        max-width: 8rem;
      }
      .badge{
        position:absolute;
        top:0;
        right: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        text-align: center;
        background: #c14747;
        //background: black;
        font-size: 1.4rem !important;

      }

    }

    .key{
      margin: 0;
    }
  }


  .announcementTitle{
    position:relative;
    display: inline-block;
    .badge{
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      right: -2.8rem;
      top: -4px;
      background: #EF4D37;
      //background:  black;
      text-align: center;
      font-size: 1.4rem;
    }

  }
}
