

<ion-item no-padding="" [hidden]="baseForm.isHidden===true " (click)="baseForm.labelClickListener.next(this.finalModel)" [ngClass]='{"ionItemIsReadOnly":baseForm.isReadOnly}' >

  <ion-label [hidden]="baseForm.isReadOnly" [ngClass]="{'required':baseForm.rules.isRequired}" stacked="" *ngIf="this.labelType == 'stacked'">{{baseForm.label}} </ion-label>
  <ion-label  [hidden]="baseForm.isReadOnly" [ngClass]="{'required':baseForm.rules.isRequired}" inline="" *ngIf="this.labelType == 'inline'" >{{baseForm.label}} </ion-label>

  <!--<span *ngIf="baseForm.type=='text';then ionInput else ionSelect"></span>-->

  <!--only fordisplay-->
  <!--<ion-input-->
    <!--type="text"-->
    <!--[(ngModel)] = "baseForm.value"-->
  <!--&gt;-->
  <!--  </ion-input>
-->



  <ion-textarea
    [hidden]="this.inputType!='textarea' || baseForm.isReadOnly"
    [disabled] = "baseForm.isDisabled"
    [(ngModel)]="baseForm.value"
    #ionTextareaModel = "ngModel"
    [type]         = "this.inputType"
    [name]        = "baseForm.name"
    [placeholder] = "baseForm.placeholder || ''"
    [required]    = "baseForm.rules.isRequired && this.inputType !='file'"
    [minlength]   = "baseForm.rules.minlength"
    [maxlength]   = "baseForm.rules.maxlength"
    [pattern]     = "baseForm.rules.pattern"
    [readonly]    = "baseForm.isReadOnly"
    [max]         = "baseForm.rules.max"
    [min]         = "baseForm.rules.min"
    (ionChange)   = "baseForm.broadcastIonChange(ionTextAreaModel,event)"

    (focus)="onFieldClicked(event)"
    (click) = "baseForm.inputClickListener.next(ionTextAreaModel)"

  >

  </ion-textarea>






  <ion-input
    [hidden]="this.inputType=='select' || this.inputType=='date' || baseForm.isReadOnly || this.inputType == 'textarea' || this.inputType=='file'"
    [disabled] = "baseForm.isDisabled"
    [(ngModel)]="baseForm.value"
    #ionInputModel = "ngModel"
    [type]         = "this.inputType"
    [name]        = "baseForm.name"
    [placeholder] = "baseForm.placeholder || ''"
    [required]    = "baseForm.rules.isRequired && this.inputType !='file'"
    [minlength]   = "baseForm.rules.minlength"
    [maxlength]   = "baseForm.rules.maxlength"
    [pattern]     = "baseForm.rules.pattern"
    [readonly]    = "baseForm.isReadOnly"
    [max]         = "baseForm.rules.max"
    [min]         = "baseForm.rules.min"
    (ionChange)   = "baseForm.broadcastIonChange(event)"
    (focus)="onFieldClicked(event)"
    (click) = "baseForm.inputClickListener.next(ionInputModel)"

  >

  </ion-input>



  <ion-select
    [hidden]="this.inputType != 'select' || baseForm.isReadOnly"
    interface="action-sheet"
    [(ngModel)]   = "baseForm.value"
    #ionSelectModel="ngModel"
    [name]        = "baseForm.name"
    [placeholder] = "baseForm.placeholder || ''"
    [required]    = "baseForm.rules.isRequired && this.inputType !='file' "
    [minlength]   = "baseForm.rules.minlength"
    [maxlength]   = "baseForm.rules.maxlength"
    [pattern]     = "baseForm.rules.pattern"
    (ionChange)   = "baseForm.broadcastIonChange(ionSelectModel,event)"
    [disabled]    = "baseForm.isReadOnly || baseForm.isDisabled"
    (click) = "baseForm.inputClickListener.next(ionSelectModel)"

  >
    <ion-option *ngFor="let option of baseForm.selectOptions" [value]="option.value">{{option.key}}</ion-option>
  </ion-select>


  <ion-datetime
    [disabled] = "baseForm.isDisabled "
    #ionDateModel   = "ngModel"
    [hidden]        = "this.inputType != 'date' || baseForm.isReadOnly"
    [(ngModel)]       = "baseForm.value"
    [name]          = "baseForm.name"
    [placeholder]   = "baseForm.placeholder || ''"
    [required]      = "baseForm.rules.isRequired  && this.inputType !='file'"
    [minlength]     = "baseForm.rules.minlength"
    [maxlength]     = "baseForm.rules.maxlength"
    [pattern]       = "baseForm.rules.pattern"
    [displayFormat] = "baseForm.dateSetting.displayFormat"
    [pickerFormat] = "baseForm.dateSetting.displayFormat"
    [min]           = "baseForm.dateSetting.min"
    [max]           = "baseForm.dateSetting.max"
    (ionChange)   = "baseForm.broadcastIonChange(ionDateModel,event)"
    [hourValues] = baseForm.hourValues
    (click) = "baseForm.inputClickListener.next(ionDateModel)"

  ></ion-datetime>






  <span class="readOnlyInfo" item-left="" [hidden] = "!baseForm.isReadOnly || baseForm.isHidden">
    <p class="label">{{baseForm.label}} </p>
    <p class="value"  style="float:left;text-align:left;margin-top:-0px;"  >{{baseForm.getReadOnlyValue()}}</p>
  </span>

  <button [hidden]="baseForm.buttonRightSuccess.isHidden" (click)="baseForm.buttonRightSuccess.clickListener.next(this.baseForm)" type="button" item-right="" ion-button="" color="primary">{{baseForm.buttonRightSuccess.label}}</button>
  <button [hidden]="baseForm.buttonRightSuccess.isHidden" (click)="baseForm.buttonRightDanger.clickListener.next(this.baseForm)" type="button" item-right="" ion-button="" color="danger">{{baseForm.buttonRightDanger.label}}</button>


</ion-item >
<!--[required]      = "baseForm.rules.isRequired "-->
<!--ngModel="t"-->

<input
  #fileModel = "ngModel"
  ngModel=""
  [type]="this.inputType"
  [name]="baseForm.name"
  [id]="baseForm.name"
  [hidden] = "this.inputType != 'file'"
  (change) = "baseForm.broadcastNgChange($event)"
  multiple
  accept="*/*"
>


<!---->
<!--for display onlu-->

<p [hidden]="baseForm.isHidden || baseForm.isReadOnly" class="infoBottom">{{baseForm.infoBottom}}</p>

<div [hidden]="baseForm.isHidden" *ngIf="finalModel">
  <!--<span>{{debug()}}</span>-->
  <p style="text-align:left;margin-left:-0px;" class="error-container" *ngIf="!finalModel.valid && (finalModel.dirty || finalModel.touched || parentForm.submitted)" >
    <form-error-message  [baseForm]="baseForm" [model]="finalModel"></form-error-message>
  </p>
</div>

<ng-template #ionInput>

</ng-template>

<ng-template #ionSelect>

</ng-template>

<!--<label >{{currentBaseForm.label}}</label>-->
<!--<input-->
  <!--ngModel="" #model="ngModel"-->
  <!--[name]        = "currentBaseForm.name"-->
  <!--[value]       = "currentBaseForm.value || ''"-->
  <!--[placeholder] = "currentBaseForm.placeholder || ''"-->
  <!--[isRequired]    = "currentBaseForm.rules.isRequired"-->
  <!--[minlength]   = "currentBaseForm.rules.minlength"-->
  <!--[maxlength]   = "currentBaseForm.rules.maxlength"-->
  <!--[pattern]     = "currentBaseForm.rules.pattern"-->
<!--/>-->

