

<ion-item no-padding="" [hidden]="baseForm.isHidden===true || baseForm.isReadOnly " (click)="baseForm.labelClickListener.next(this.finalModel)" [ngClass]='{"ionItemIsReadOnly":baseForm.isReadOnly}' >

  <ion-label  [hidden]="baseForm.isReadOnly" [ngClass]="{'required':baseForm.rules.isRequired}" stacked="" *ngIf="this.labelType == 'stacked'">{{baseForm.label | ucWord}} </ion-label>
  <ion-label  [hidden]="baseForm.isReadOnly" [ngClass]="{'required':baseForm.rules.isRequired}" inline="" *ngIf="this.labelType == 'inline'" >{{baseForm.label | ucWord}} </ion-label>

  <!--<span *ngIf="baseForm.type=='text';then ionInput else ionSelect"></span>-->

  <!--only fordisplay-->
  <!--<ion-input-->
    <!--type="text"-->
    <!--[(ngModel)] = "baseForm.value"-->
  <!--&gt;-->
  <!--  </ion-input>
-->



  <ion-textarea
    [hidden]="this.inputType!='textarea' || baseForm.isReadOnly"
    [disabled] = "baseForm.isDisabled"
    [(ngModel)]="baseForm.value"
    #ionTextareaModel = "ngModel"
    [type]         = "this.inputType"
    [name]        = "baseForm.name"
    [placeholder] = "baseForm.placeholder || ''"
    [required]    = "baseForm.rules.isRequired && this.inputType !='file' && !baseForm.isReadOnly"
    [minlength]   = "baseForm.rules.minlength"
    [maxlength]   = "baseForm.rules.maxlength"
    [pattern]     = "baseForm.rules.pattern"
    [readonly]    = "baseForm.isReadOnly"
    [max]         = "baseForm.rules.max"
    [min]         = "baseForm.rules.min"
    (ionChange)   = "broadcast('iontextarea')"

    (click) = "onFieldClicked(ionTextAreaModel)"

  >

  </ion-textarea>






  <ion-input
    [hidden]="this.inputType=='select' || this.inputType=='radio'  || this.inputType=='datetime' || this.inputType=='date' || baseForm.isReadOnly || this.inputType == 'textarea' || this.inputType=='file'"
    [disabled] = "baseForm.isDisabled"
    [(ngModel)]="this.baseForm.value"
    #ionInputModel = "ngModel"
    [type]         = "this.inputType"
    [name]        = "baseForm.name"
    [placeholder] = "baseForm.placeholder || ''"
    [required]    = "baseForm.rules.isRequired && this.inputType !='file' && !baseForm.isReadOnly"
    [minlength]   = "baseForm.rules.minlength"
    [maxlength]   = "baseForm.rules.maxlength"
    [pattern]     = "baseForm.rules.pattern"
    [readonly]    = "baseForm.isReadOnly"
    [max]         = "baseForm.rules.max"
    [min]         = "baseForm.rules.min"
    (ionChange)   = "broadcast('ioninput')"
    (click) = "onFieldClicked(ionInputModel)"
  >

  </ion-input>



  <ion-select
    [hidden]="this.inputType != 'select' || baseForm.isReadOnly"
    interface="action-sheet"
    [(ngModel)]   = "baseForm.value"
    #ionSelectModel="ngModel"
    [name]        = "baseForm.name"
    [placeholder] = "baseForm.placeholder || ''"
    [required]    = "baseForm.rules.isRequired && this.inputType !='file' && !baseForm.isReadOnly"
    [minlength]   = "baseForm.rules.minlength"
    [maxlength]   = "baseForm.rules.maxlength"
    [pattern]     = "baseForm.rules.pattern"
    (ionChange)   = "broadcast('ionselect')"
    [disabled]    = "baseForm.isDisabled"
    (click) = "onFieldClicked(ionSelectModel)"
  >
    <ion-option selected="" *ngFor="let option of baseForm.selectOptions" [value]="option.value">{{option.key}}</ion-option>
  </ion-select>





  <ion-datetime
    [disabled] = "baseForm.isDisabled "
    #ionDateModel   = "ngModel"
    #datetimePicker

    [hidden]        = "(this.inputType!='date' && this.inputType !='datetime') || baseForm.isReadOnly"
    [(ngModel)]       = "baseForm.value"
    [name]          = "baseForm.name"
    [placeholder]   = "baseForm.placeholder || ''"
    [required]      = "baseForm.rules.isRequired  && this.inputType !='file' && !baseForm.isReadOnly"
    [minlength]     = "baseForm.rules.minlength"
    [maxlength]     = "baseForm.rules.maxlength"
    [pattern]       = "baseForm.rules.pattern"
    [displayFormat] = "baseForm.dateSetting.displayFormat"
    [pickerFormat] = "baseForm.dateSetting.displayFormat"
    [min]           = "baseForm.dateSetting.min"
    [max]           = "baseForm.dateSetting.max"
    (ionChange)   = "broadcast('iondatetime')"
    [hourValues] = baseForm.hourValues
    (click) = "onFieldClicked(ionDateModel)"

  ></ion-datetime>





</ion-item >

<!--[required]      = "baseForm.rules.isRequired "-->
<!--ngModel="t"-->





<div (click) = "onFieldClicked(ionDateModel)" [ngClass]="{overrideDatepicker:this.inputType == 'date'}">

</div>




<ion-list #ionRadioModel="ngModel" (ionChange)="broadcast('ionradio')" [hidden]="this.inputType!='radio'" [name]="baseForm.name" radio-group [(ngModel)]="baseForm.value">

  <ion-item *ngFor="let selectOption of baseForm.selectOptions">
    <ion-label>{{selectOption.key}}</ion-label>
    <ion-radio checked="true"  [value]="selectOption.value"></ion-radio>
  </ion-item>



</ion-list>



<input
  #fileModel = "ngModel"
  ngModel=""
  [type]="this.inputType"
  [name]="baseForm.name"
  [id]="baseForm.name"
  [hidden] = "this.inputType != 'file' || baseForm.isHidden === true || baseForm.isReadOnly"
  [required] = "baseForm.rules.isRequired && !baseForm.isReadOnly"
  (change) = "baseForm.broadcastNgChange($event,parentForm)"
  [readonly] = "baseForm.isReadOnly"

  multiple
  accept="*/*"
>


<div class="readOnlyInfo" [hidden] = "!baseForm.isReadOnly || baseForm.isHidden">
  <p class="label">{{baseForm.label | ucWord}} </p>
  <p class="value"   >{{baseForm.getReadOnlyValue()}}</p>
</div>




<open-url [hidden]="baseForm.isHidden" *ngIf="baseForm.attachmentInfo.isSet && baseForm.attachmentInfo.name && baseForm.attachmentInfo.name!=''" [name]="baseForm.attachmentInfo.name" [url]="baseForm.attachmentInfo.url"></open-url>

<!---->
<!--for display onlu-->

<p [hidden]="baseForm.isHidden || baseForm.infoBottom == ''" class="infoBottom"  [innerHTML]="baseForm.infoBottom | keepAsHtml"></p>

<div [hidden]="baseForm.isHidden" *ngIf="finalModel">
  <!--<span>{{debug()}}</span>-->
  <!--<p style="text-align:left;margin-left:-0px;" class="error-container" *ngIf="!finalModel.valid && (finalModel.dirty || finalModel.touched || parentForm.submitted)" >-->
  <p style="text-align:left;margin-left:-0px;" class="error-container" >
    <form-error-message  [baseForm]="baseForm" [model]="finalModel"></form-error-message>
  </p>
</div>


<div *ngIf="!baseForm.buttonRightSuccess.isHidden || !baseForm.buttonRightSuccess.isHidden" style="margin-bottom: 16px;">
  <button [hidden]="baseForm.buttonRightSuccess.isHidden" (click)="baseForm.buttonRightSuccess.clickListener.next(this.baseForm)" type="button" item-right="" ion-button="" color="primary">{{baseForm.buttonRightSuccess.label}}</button>
  <button [hidden]="baseForm.buttonRightDanger.isHidden" (click)="baseForm.buttonRightDanger.clickListener.next(this.baseForm)" type="button" item-right="" ion-button="" color="danger">{{baseForm.buttonRightDanger.label}}</button>
</div>


<ng-template #ionInput>

</ng-template>

<ng-template #ionSelect>

</ng-template>

<!--<label >{{currentBaseForm.label}}</label>-->
<!--<input-->
  <!--ngModel="" #model="ngModel"-->
  <!--[name]        = "currentBaseForm.name"-->
  <!--[value]       = "currentBaseForm.value || ''"-->
  <!--[placeholder] = "currentBaseForm.placeholder || ''"-->
  <!--[isRequired]    = "currentBaseForm.rules.isRequired"-->
  <!--[minlength]   = "currentBaseForm.rules.minlength"-->
  <!--[maxlength]   = "currentBaseForm.rules.maxlength"-->
  <!--[pattern]     = "currentBaseForm.rules.pattern"-->
<!--/>-->

<!--<button (click)="showCalendar()">Show Calendar</button>-->
