floating-input {

  .error-container{
    padding:0;
    margin-left:16px;
    margin-bottom:12px;
  }

  .error-message{
    margin: 0;
    color:tomato;

  }
  ion-item{
    margin-top:-8px;
  }

  input{
    //border-bottom: 1px solid #d8d8d8 !important;

  }

  ion-label{
    color:map_get($colors,'dark') !important;

  }
}
