floating-input {

  display: block;
  margin-bottom: 18px;

  .error-container{
    padding:0;
    margin: 0 0 12px 0 ;
    text-align:left;

  }

  .error-message{
    margin: 0;
    color:tomato;

  }
  ion-item{
    margin-top:-8px;
    fon-size:14px !important;
    background: transparent !important;
    *{
      font-size:14px !important;

    }

    .item-inner{
      padding-right: 0px !important;
    }
  }

  ion-select{
    background: #F4ECF7 !important;
    padding: 8px !important;
  }
  ion-datetime{
    background: #ffffe5;
  }

  textarea{
    background: #EAF2F8 !important;
    padding: 8px !important;
    margin: 0px !important;
    height:100px;
    width: 100% !important;
  }
  ion-input{
    background: #EAF2F8 !important;
    padding: 0px 8px !important;;
  }


  input{
    //border-bottom: 1px solid #d8d8d8 !important;

    -webkit-user-select: text !important;
    user-select: text !important;
    -moz-user-select: text !important;
  -ms-user-select: text !important;

    &[type="file"]{
      //float: left;
      display:block;
    }
  }

  ion-label,label{
    color:map_get($colors,'dark') !important;
    margin-left:auto;
    margin-right:auto;
    font-weight: bold;

  }

  //ion-select, ion-input, input,ion-datetime,ion-textarea,textarea{
  //  //margin-left: auto !important;
  //  //margin-right:auto !important;
  //}
  .required{
    &::after{
      content: '*';
      color: tomato;
    }
  }
  //.readOnly{
  //  &::before{
  //    content: '(read-only) ';
  //    color: #5e5e5e;
  //  }
  //}

  .myIonSelect{
    &::before{
      content: 'Select  ';
    }
  }
  .myIonSelect{
    &::before{
      content: 'Select  ';
    }
  }

  .infoBottom{
    margin-top:3px;
    color: #5e5e5e;;
  }

  .readOnlyInfo{

    display: block;
    p{
      //padding-left:12px;
      vertical-align: top;
      text-align: left!important;
      margin: 0;
    }
    .label{
      color: black;
      display: inline-block;
      width: 35%;

      position:relative;
      &::after{
        content: ':';
        position:absolute;
        right:3px;
        top:0;
      }

    }

    .value{
      color:black;
      display: inline-block;
      width: 63%;
      padding-left: 12px;
    }
  }



  .ionItemIsReadOnly{
    .item-inner{
      border: none !important;

    }
  }
}
