<!-- Generated template for the VisitationFormComponent component -->
<div>
  <ion-slides  #formSlides pager="true"  >
    <ion-slide padding style="min-height:100%;background: tomato;">
      <h3 style="color:white">Please Fill the form to apply visitation</h3>
      <img src="assets/imgs/forms.png" style="width:100px;" text-center="" align-self-center="" />

      <button ion-button="" color="light" (click)="slideNext()">Start Fill!</button>
    </ion-slide>


    <ion-slide *ngFor="let form of this.identityForms" >
      <h2>{{form.title}}</h2>
      <form #identityForm="ngForm" (submit)="identityFormSubmit(identityForm)">
        <ion-list  class="ionContent" >
          <floating-input  *ngFor="let currentBaseForm of form.baseForms" [parentForm]="identityForm" [baseForm]="currentBaseForm"></floating-input>


        </ion-list>


        <button ion-button="" align-items-center="" color="primary">Search</button>
      </form>
    </ion-slide>



    <ion-slide   *ngIf="!this.identityInformationForm.isHidden" [hidden]="this.identityInformationForm.isHidden">
      <h2>{{this.identityInformationForm.title}}</h2>
      <form class="ionContent" #idIdentityInformationForm="ngForm"  (submit)="completionFormSubmit(idIdentityInformationForm)">
        <ion-list *ngFor="let currentBaseForm of this.identityInformationForm.baseForms" >
          <floating-input [parentForm]="idIdentityInformationForm" [baseForm]="currentBaseForm"></floating-input>
        </ion-list>
        <button  ion-button=""  type="button" (click)="slidePrevious()" color="light">Previous</button>
        <button  ion-button=""  color="primary">Next</button>

      </form>
    </ion-slide>

    <ion-slide  *ngIf="!this.identityForEmployeeForm.isHidden" [hidden]="this.identityForEmployeeForm.isHidden" >
      <h2>{{this.identityForEmployeeForm.title}}</h2>
      <form class="ionContent" #idIdentityForEmployee="ngForm"  (submit)="completionFormSubmit(idIdentityForEmployee)">
        <ion-list *ngFor="let currentBaseForm of this.identityForEmployeeForm.baseForms" >
          <floating-input [parentForm]="idIdentityForEmployee" [baseForm]="currentBaseForm"></floating-input>
        </ion-list>
        <button  ion-button=""  type="button" (click)="slidePrevious()" color="light">Previous</button>
        <button  ion-button=""  color="primary">Confirm!</button>

      </form>
    </ion-slide>





    <ion-slide >
      <h2>{{this.vechileForm.title}}</h2>
      <form class="ionContent" #idVechileForm="ngForm"  (submit)="completionFormSubmit(idVechileForm)">
        <ion-list *ngFor="let currentBaseForm of this.vechileForm.baseForms" >
          <floating-input [parentForm]="idVechileForm" [baseForm]="currentBaseForm"></floating-input>
        </ion-list>

        <button  ion-button=""  type="button" (click)="slidePrevious()" color="light">Previous</button>
        <button  ion-button=""  color="primary">Next</button>
      </form>
    </ion-slide>


    <ion-slide *ngIf="isNeedHost">
      <h2>{{hostForm.title}}</h2>
      <form class="ionContent" #idHostForm="ngForm" (submit)="completionFormSubmit(idHostForm)">
        <ion-list *ngFor="let currentBaseForm of hostForm.baseForms">
          <floating-input  [parentForm]="idHostForm" [baseForm]="currentBaseForm"></floating-input>
        </ion-list>
        <button  ion-button=""  type="button" (click)="slidePrevious()" color="light">Previous</button>
        <button  ion-button="" color="primary">Next</button>
      </form>

    </ion-slide>

    <ion-slide >

      <h2>{{visitationDetailForm.title}}</h2>
      <form class="ionContent" #idVisitationDetailForm="ngForm"  (submit)="completionFormSubmit(idVisitationDetailForm)">
        <ion-list *ngFor="let currentBaseForm of visitationDetailForm.baseForms">
          <floating-input  [parentForm]="idVisitationDetailForm" [baseForm]="currentBaseForm"></floating-input>
        </ion-list>
        <button  ion-button=""  type="button" (click)="slidePrevious()" color="light">Previous</button>
        <button  ion-button="" color="primary">Next</button>
      </form>
    </ion-slide>


    <ion-slide >

      <h2>{{additionalForm.title}}</h2>
      <form class="ionContent" #idAdditionalForm="ngForm"  (submit)="completionFormSubmit(idAdditionalForm)">
        <ion-list *ngFor="let currentBaseForm of additionalForm.baseForms">
          <floating-input  [parentForm]="idAdditionalForm" [baseForm]="currentBaseForm"></floating-input>
        </ion-list>
        <button  ion-button=""  type="button" (click)="slidePrevious()" color="light">Previous</button>
        <button  ion-button="" color="primary">Submit</button>

        <!--<pre style="font-size:12px">{{this.formValues | json}}</pre>-->

      </form>
    </ion-slide>

    <!--<ion-slide>-->
    <!--<h1>Prototype submit</h1>-->
    <!--<h2>Value to be submited to server</h2>-->
    <!--<pre style="font-size:12px">{{this.formValues | json}}</pre>-->

    <!--</ion-slide>-->
  </ion-slides>
</div>
