<!--
  Generated template for the ChangeMyPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar #navbar>
    <button ion-button menuToggle *ngIf="!this.rootParam.isPartial">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center="">Change Password
      <!--<span *ngIf="this.badge;let resultBadge" item-right=""><ion-badge *ngIf="(resultBadge.badgeVisitation != 0);"  color="danger" >{{resultBadge.badgeVisitation}}</ion-badge></span>-->

    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="has-user-action"   >

  <form #parentForm="ngForm" >



    <floating-input *ngFor="let baseForm of baseForms" [parentForm]="parentForm" [baseForm]="baseForm"></floating-input>




  </form>

</ion-content>





<div  class="user-action">

  <div class="action-container">
    <button ion-button=""  type="button" (click)="leavePage()" color="warning">Cancel</button>
    <button  ion-button=""  type="button" (click)="formSubmit(parentForm)" color="primary">Change Password</button>
  </div>



</div>

