<!--
  Generated template for the VisitationApplicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar #navbar  >
    <button ion-button menuToggle *ngIf="!this.pageParam.pickerSetting" >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center="" >{{title}}
      <!--<span *ngIf="this.badge;let resultBadge" item-right=""><ion-badge *ngIf="(resultBadge.badgeVisitation != 0);"  color="danger" >{{resultBadge.badgeVisitation}}</ion-badge></span>-->

    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="has-user-action" padding="" [ngClass]="{'partial':this.rootParam.isPartial}">

  <!---->


  <p text-center="" *ngIf="this.pageParam.pickerSetting">Please select date for <b>{{this.pageParam.pickerSetting.baseForm.label}}</b></p>



  <div *ngIf="segmentValue == 'list'">

    <!--<button  *ngIf="!this.pageParam.isApprover" style="margin-bottom:24px;" (click)="newApply()" ion-button="" block="" color="danger">Apply</button>-->


    <ion-list style="border: 1px solid #C4C4C4; border-radius:5px;">

      <ion-item  (click)="filter.isOpen = !filter.isOpen" *ngIf="!this.pageParam.pickerSetting" >
        <h3>Search for {{title}}</h3>
        <span item-end="">
              <ion-icon name="arrow-down" *ngIf="filter.isOpen"></ion-icon>
              <ion-icon name="arrow-up" *ngIf="!filter.isOpen"></ion-icon>
            </span>
      </ion-item>
      <span *ngIf="filter.isOpen" class="animation-expand-bottom">

        <ion-item>
          <ion-label>Year</ion-label>
          <ion-select [(ngModel)]="filter.cmbYear" interface="popover">
            <!--<ion-option value="" selected="">&#45;&#45;All&#45;&#45;</ion-option>-->
            <ion-option *ngFor="let i of helperProvider.getFilterYear()" selected="" [value]="i">{{i}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Month</ion-label>
          <ion-select [(ngModel)]="filter.cmbMonth" interface="popover">

            <ion-option *ngFor="let object of this.helperProvider.getCmbRule(this.filterRule,'month')" [value]="object.value" >{{object.text}}</ion-option>
          </ion-select>
        </ion-item>



          <ion-item>
            <button (click)="getList()" ion-button="" block="">Search</button>
          </ion-item>

        </span>

    </ion-list>

    <calender [filter]="this.filter" [nextButton]="this.nextButton" [previousButton]="this.previousButton"    [calenderEvents]="this.calenderEvents"></calender>

    <!--<ion-infinite-scroll [enabled]="this.isInfiniteEnable" (ionInfinite)="doInfinite($event)">-->
    <!--<ion-infinite-scroll-content>Loading</ion-infinite-scroll-content>-->
    <!--</ion-infinite-scroll>-->

  </div>


</ion-content>




<div  class="user-action" *ngIf="this.pageParam.pickerSetting">

  <div class="action-container" >
    <button  (click)="this.cancelDatePicker()" ion-button=""  type="button" (click)="leavePage()" color="warning">Cancel</button>
    <button  (click)="this.selectDatePicker()"  ion-button=""  type="button"  color="primary">Select</button>
  </div>



</div>
