// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.menuList{
  //padding-top:12px !important;
  //padding-bottom:12px;
  //display:block;
}

.center-div{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.img-responsive{
  width: 100%;
  max-width: 100%;

}
.animation-expand-bottom{
  height:100%;
  max-height:0;
  display:block;
  animation-name: animationExpandBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  overflow: hidden;

}
@keyframes animationExpandBottom {
  0%{
    max-height:0;

  }
  100%{
    max-height: 1000px;
  }
}


ion-slides{
  ion-slide{
    padding-bottom: 32px;
  }
}

.partial{
  background:#EEEEEE;
   ion-item, ion-card{
    background:#EEEEEE;

  }
}


//*{
//  -webkit-user-select: text;
//  -moz-user-select: text;
//  -ms-user-select: text;
//  user-select: text;
//  //word-break: keep-all !important;
//  word-wrap: break-word !important;
//  word-break: keep-all !important;
//  white-space:normal;
//}


input {
  -webkit-user-select: text; /* Chrome, Opera, Safari */
  -moz-user-select: text; /* Firefox 2+ */
  -ms-user-select: text; /* IE 10+ */
  user-select: text; /* Standard syntax */
}


//# supaya title jadi center kalo ada back button
.back-button,.bar-button-menutoggle-wp,.bar-button-menutoggle {
  z-index:9999;
  margin-right: -34px !important;

  &~.toolbar-content>{
    //border: 1px solid black;
    //
    display:inline-block;
    z-index:-1
  }
  //width:64px;
}
.toolbar-title{
  text-align: center;

}




//
////# create space for swiper pagination dot
//div.swiper-pagination {
//  top:-10px;
//  bottom:inherit;
//  z-index: 9999;
//}
//ion-slide{
//  padding-top:30px;
//  //overflow: visible;
//  z-index: 4;
//}





//#selection
.action-sheet-title{
  text-align: center !important;
  &::before {
    content: "Select ";
  }
}

.action-sheet-selected{
  .button-inner{
    display:inline-block;
    &::after{
      float:right;
      content: " V";
      color:blue;
    }
  }

}


//# prevent keyboard covers field
ion-col{
  position: initial;
}



//# ion select cancel
.action-sheet-cancel{
  color: tomato !important;
}



//# make cancel and submit button inline
.submitButton{


  display: inline-block;
  width: 47%;


}


//# descriptionDescriptionDescription    detail
.summary{

  //
  //padding-left: 16px;
  //padding-right: 16px;
  //margin-top: 16px;
  *{
    display:inline-block;;
    vertical-align: top;
  }
  .description{
    width: 68%;

  }
  .detail{
    width: 28%;
    text-align: right;
  }
}


.has-user-action{
  z-index: 1;

  .scroll-content{
    >*:last-child{
      padding-bottom: 100px !important;

    }

  }


}
.user-action{


  bottom: 0 ;
  left:0;
  right:0;
  background: white;
  padding-top: 6px;
  position:fixed;
  border-top: 1px solid #7BB7CA;
  z-index: 20;


  .action-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //justify-content: space-evenly;
    //padding: 6px 0 10px;
    >*{
      flex-grow:1;

      margin-left: 5px;
      margin-right: 5px;

    }
  }
}



.form-approval{
  .form-approval-title{
    background-color: #EEEEEE; padding: 12px 0;
  }
}

.item-inner{
  border: none !important;
}



