<ion-menu [content]="content" *ngIf="userProvider.userSession.isLoggedIn && !rootParams.isPartial" >
  <ion-header>
    <ion-toolbar  >
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list *ngFor="let menu of this.homeMenu">
      <ion-list-header (click)="menu.isOpen = !menu.isOpen">
        <ion-icon  *ngIf="menu.isOpen" name="arrow-down"></ion-icon>
        <ion-icon  *ngIf="!menu.isOpen" name="arrow-up"></ion-icon>
        {{menu.menu_name}}

      </ion-list-header>

      <!--ngClass="[animation-expand-bottom]"-->
      <div *ngIf="menu.isOpen" ngClass="animation-expand-bottom" >
         <ion-item menuClose=""  *ngFor="let child of menu.menu" (click)="openPage(child.menu_id)">
          {{child.menu_name}}
        </ion-item>
      </div>


    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side homeMenu -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
