<ion-menu  (ionOpen)="menuOpened()"  [content]="content" *ngIf="userProvider.userSession.isLoggedIn && !rootParams.isPartial" >
  <ion-header>
    <ion-toolbar  >
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

      <ion-list *ngFor="let menu of (this.userProvider.homeMenu )">
      <!--<ion-list *ngFor="let menu of (this.userProvider.menuReplaySubject | async)">-->

        <ion-list-header *ngIf="menu.menu.length > 0" (click)="menu.isOpen = !menu.isOpen">
          <ion-icon item-right="" *ngIf="menu.isOpen" name="arrow-down"></ion-icon>
          <ion-icon  item-right="" *ngIf="!menu.isOpen" name="arrow-up"></ion-icon>
          <img item-left="" style="width:25px;height:25px;" *ngIf="menu.image" src="{{menu.image}}"/>
          {{menu.name}}
          <ion-badge color="dangerDim1" *ngIf="menu.badge && menu.badge.count && menu.badge.count > 0">{{menu.badge.count}}</ion-badge>

        </ion-list-header>

        <!--ngClass="[animation-expand-bottom]"-->
        <div *ngIf="menu.isOpen" ngClass="animation-expand-bottom" >
           <ion-item menuClose=""  *ngFor="let child of menu.menu" (click)="openPage(child.id)">
             <span item-left="">> </span>
             <img item-left="" style="width:25px;height:25px;" *ngIf="menu.image" src="{{menu.image}}"/>
             {{child.name}}
             <ion-badge color="dangerDim2" *ngIf="child.badge && child.badge.count && child.badge.count > 0">{{child.badge.count}}</ion-badge>

           </ion-item>
        </div>


        <!--single parent-->
        <ion-list-header menuClose="" *ngIf="menu.menu.length <= 0" (click)="openPage(menu.id)">
          <!--<img src="menu."/>-->
          <img item-left="" style="width:25px;height:25px;" *ngIf="menu.image" src="{{menu.image}}"/>
          {{menu.name}}
          <ion-badge color="dangerDim1" *ngIf="menu.badge && menu.badge.count && child.badge.count > 0">{{menu.badge.count}}</ion-badge>
        </ion-list-header>

      </ion-list>



  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side homeMenu -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
