<!--
  Generated template for the VisitationApplicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar #navbar  >
        <button ion-button menuToggle *ngIf="!this.rootParam.isPartial" >
                <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center="" >Exchange Alternate Off Application
            <!--<span *ngIf="this.badge;let resultBadge" item-right=""><ion-badge *ngIf="(resultBadge.badgeVisitation != 0);"  color="danger" >{{resultBadge.badgeVisitation}}</ion-badge></span>-->

        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding="" [ngClass]="{'partial':this.rootParam.isPartial}">

    <ion-segment *ngIf="!pageParam.isApply && !pageParam.isEditing" (ionChange)="ionSegmentChange()"  style='margin-top:16px;'[(ngModel)]="segmentValue">
        <ion-segment-button value="apply" *ngIf="!this.isApprover" >
            Apply
        </ion-segment-button>
        <ion-segment-button value="list" [hidden]="pageParam.isEditing">
            List
        </ion-segment-button>
    </ion-segment>


    <!---->

    <div  [ngSwitch]="segmentValue">

        <div *ngIf="segmentValue == 'apply'">
            <ion-grid >
                <ion-row >


                    <!--<ion-col *ngIf="pageParam.isEditing" col-12="" >-->
                    <!--<button  (click)="this.navCtrl.pop()" no-padding="" block     ion-button="" clear="" small="">Cancel Edit</button>-->
                    <!--</ion-col>-->
                </ion-row>
            </ion-grid>
        </div>


    </div>



    <div >

        <!--<button  *ngIf="!this.pageParam.isApprover" style="margin-bottom:24px;" (click)="newApply()" ion-button="" block="" color="danger">Apply</button>-->


        <ion-list style="border: 1px solid #C4C4C4; border-radius:5px;">

            <ion-item  (click)="filter.isOpen = !filter.isOpen">
                <h3>Search for Visitation Application</h3>
                <span item-end="">
                    <ion-icon name="arrow-down" *ngIf="filter.isOpen"></ion-icon>
                    <ion-icon name="arrow-up" *ngIf="!filter.isOpen"></ion-icon>
                </span>
            </ion-item>
            <span *ngIf="filter.isOpen" class="animation-expand-bottom">

                <ion-item>
                    <ion-label>Year</ion-label>
                    <ion-select (ionChange)="filterChanged()" [(ngModel)]="filter.cmbYear" interface="popover">
                        <ion-option value="" selected="">--All--</ion-option>
                        <ion-option *ngFor="let i of this.helperProvider.getYearRange()" [value]="i">{{i}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Month</ion-label>
                    <ion-select (ionChange)="filterChanged()" [(ngModel)]="filter.cmbMonth" interface="popover">
                        <ion-option value="" selected="">--All--</ion-option>

                        <ion-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="i" >{{i}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Status</ion-label>
                    <ion-select (ionChange)="filterChanged()" [(ngModel)]="filter.cmbStatus" interface="popover">
                        <ion-option *ngFor="let object of this.statusFilter" [selected]="true" [value]="object.value" >{{object.name}}</ion-option>
                    </ion-select>
                </ion-item>



                <ion-item>
                    <ion-label>Acknowledge</ion-label>
                    <ion-select (ionChange)="filterChanged()" [(ngModel)]="filter.acknowledged" interface="popover">
                        <ion-option value="" selected="">--All--</ion-option>

                        <ion-option *ngFor="let object of [{name:'Pending Acknowledged',value:'f'},{name:'Acknowledged',value:'t'}]" [value]="object.value" >{{object.name}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <button (click)="getList()" ion-button="" block="">Search</button>
                </ion-item>

            </span>

        </ion-list>
        <p style="background: #C4F0FF;padding-top:0;padding-bottom:0" no-padding="" >Listing</p>
        <!--<span *ngIf="this.visitationData[0]; let result"><p padding="" *ngIf="  result.records.length == 0">No record</p></span>-->

        <!--<ion-grid>-->
        <!--<ion-row *ngFor="let currentVisitationData of visitationData">-->
        <!--&lt;!&ndash;<p>page: {{currentVisitationData.page}}/{{currentVisitationData.maxpage}}</p>&ndash;&gt;-->
        <!--<ion-col col-12="" col-sm-6="" col-md-4="" *ngFor="let record of currentVisitationData.records">-->
        <!--<ion-card >-->
        <!--<ion-card-header  (click)="record.isOpen = !record.isOpen">-->
        <!--<ion-item no-padding="">-->
        <!--<h2>{{record.visitorcategory_name}}</h2>-->
        <!--<span item-right="">-->
        <!--<ion-icon name="arrow-down" *ngIf="record.isOpen"></ion-icon>-->
        <!--<ion-icon name="arrow-up" *ngIf="!record.isOpen"></ion-icon>-->
        <!--</span>-->

        <!--<small > {{record.visitor_id | ifEmptyThenDash}} {{record.visitor_name | ifEmptyThenDash }}</small>-->
        <!--</ion-item>-->
        <!--&lt;!&ndash;<p><small>{{record.status}}</small></p>&ndash;&gt;-->
        <!--</ion-card-header>-->


        <!--<div *ngIf="record.isOpen" ngClass=" animation-expand-bottom">-->
        <!--&lt;!&ndash;<div  ngClass=" animation-expand-bottom">&ndash;&gt;-->


        <!--<ion-list class="visitationMini" ngClass="ionContent" >-->

        <!--<ion-item>-->
        <!--Status-->
        <!--<span  [style.color]="this.getStatusColor(record.status)" item-end="">{{record.status | ifEmptyThenDash}} </span>-->
        <!--</ion-item>-->

        <!--&lt;!&ndash;<ion-item *ngIf="record.visitor_name; let result">&ndash;&gt;-->
        <!--&lt;!&ndash;Visitor Name&ndash;&gt;-->
        <!--&lt;!&ndash;<span  [style.color]="this.getStatusColor(record.status)" item-end="">{{result}} </span>&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->

        <!--&lt;!&ndash;<ion-item>&ndash;&gt;-->
        <!--&lt;!&ndash;Created By(Id)&ndash;&gt;-->
        <!--&lt;!&ndash;<span item-end="">{{record.emp_id}} </span>&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
        <!--<ion-item>-->
        <!--Created By-->
        <!--<span item-end="">{{record.emp_id | ifEmptyThenDash:record.employee}}<p>{{record.emp_name | ifEmptyThenDash:""}}</p></span>-->
        <!--</ion-item>-->
        <!--<ion-item>-->
        <!--Created Date-->
        <!--<span item-end="">{{record.created_date | ifEmptyThenDash}}</span>-->
        <!--</ion-item>-->
        <!--<ion-item>-->
        <!--Visit Date / Time-->
        <!--<span item-right="">{{record.visitation_date | ifEmptyThenDash }} {{record.visitation_time | ifEmptyThenDash }}</span>-->
        <!--</ion-item>-->
        <!--&lt;!&ndash;<ion-item>&ndash;&gt;-->
        <!--&lt;!&ndash;Visit Time&ndash;&gt;-->
        <!--&lt;!&ndash;<span item-right="">{{record.visitation_time}}</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->

        <!--<ion-item>-->
        <!--Host-->
        <!--<span item-right="">{{record.host_id | ifEmptyThenDash }}<p>{{record.host_name | ifEmptyThenDash}}</p></span>-->
        <!--</ion-item>-->
        <!--&lt;!&ndash;<ion-item>&ndash;&gt;-->
        <!--&lt;!&ndash;Host Name&ndash;&gt;-->
        <!--&lt;!&ndash;<span item-right="">{{record.host_name}}</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->

        <!--<ion-item>-->
        <!--Purpose-->
        <!--<span item-right="">{{record.purpose | ifEmptyThenDash}}</span>-->

        <!--</ion-item>-->


        <!--</ion-list>-->


        <!--<ion-row no-padding>-->
        <!--&lt;!&ndash;<ion-col>&ndash;&gt;-->
        <!--&lt;!&ndash;<button ion-button clear small color="danger" icon-start>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-icon name='close-circle'></ion-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;Reject&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->
        <!--<ion-col (click)="pushDetailPage(record)" text-center="">-->
        <!--<button ion-button block color="primary" icon-center>-->
        <!--&lt;!&ndash;<ion-icon name='list-box'></ion-icon>&ndash;&gt;-->
        <!--Detail-->
        <!--</button>-->
        <!--</ion-col>-->
        <!--&lt;!&ndash;<ion-col text-right>&ndash;&gt;-->
        <!--&lt;!&ndash;<button ion-button clear small color="primary" icon-start>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-icon name='checkmark-circle'></ion-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;Approve&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-col>&ndash;&gt;-->

        <!--</ion-row>-->
        <!--</div>-->



        <!--</ion-card>-->
        <!--</ion-col>-->
        <!--</ion-row>-->
        <!--</ion-grid>-->


        <ion-infinite-scroll [enabled]="this.isInfiniteEnable" (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content>Loading</ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </div>


</ion-content>
