<!--
  Generated template for the VisitationApplicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar #navbar  >
        <button ion-button menuToggle *ngIf="!this.rootParam.isPartial" >
                <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center="" >{{title}}
            <!--<span *ngIf="this.badge;let resultBadge" item-right=""><ion-badge *ngIf="(resultBadge.badgeVisitation != 0);"  color="danger" >{{resultBadge.badgeVisitation}}</ion-badge></span>-->

        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding="" [ngClass]="{'partial':this.rootParam.isPartial}">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-segment *ngIf="!pageParam.isApply && !pageParam.isEditing" (ionChange)="ionSegmentChange()"  style='margin-top:16px;'[(ngModel)]="segmentValue">
        <ion-segment-button *ngIf="!pageParam.isApproval" value="apply"  >
            Apply
        </ion-segment-button>
        <ion-segment-button value="list" >
            List
        </ion-segment-button>
    </ion-segment>


    <!---->

    <div  [ngSwitch]="segmentValue">

        <div *ngIf="segmentValue == 'apply'">
            <ion-grid >
                <ion-row >


                    <!--<ion-col *ngIf="pageParam.isEditing" col-12="" >-->
                    <!--<button  (click)="this.navCtrl.pop()" no-padding="" block     ion-button="" clear="" small="">Cancel Edit</button>-->
                    <!--</ion-col>-->
                </ion-row>
            </ion-grid>
        </div>


    </div>



    <div >

        <!--<button  *ngIf="!this.pageParam.isApprover" style="margin-bottom:24px;" (click)="newApply()" ion-button="" block="" color="danger">Apply</button>-->


        <ion-list style="border: 1px solid #C4C4C4; border-radius:5px;">

            <ion-item  (click)="filter.isOpen = !filter.isOpen">
                <h3>Search for {{title}}</h3>
                <span item-end="">
                    <ion-icon name="arrow-down" *ngIf="filter.isOpen"></ion-icon>
                    <ion-icon name="arrow-up" *ngIf="!filter.isOpen"></ion-icon>
                </span>
            </ion-item>
            <span *ngIf="filter.isOpen" class="animation-expand-bottom">

                <ion-item>
                    <ion-label>Year</ion-label>
                    <ion-select  [(ngModel)]="filter.cmbYear" interface="popover">
                        <ion-option *ngFor="let i of this.helperProvider.getCmbRule(this.exchangeApplicationTop,'cmbYear')" [value]="i.value">{{i.text}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Month</ion-label>
                    <ion-select [(ngModel)]="filter.cmbMonth" interface="popover">
                        <ion-option *ngFor="let object of this.helperProvider.getCmbRule(this.exchangeApplicationTop,'month')" [value]="object.value" >{{object.text}}</ion-option>

                    </ion-select>
                </ion-item>


                <ion-item>
                  <ion-label >Status</ion-label>
                  <ion-select  [(ngModel)]="filter.cmbStatus" interface="popover">
                    <ion-option *ngFor="let object of this.helperProvider.getCmbRule(this.filterRule,'cmbStatus')" [selected]="true" [value]="object.value" >{{object.text}}</ion-option>
                  </ion-select>
                </ion-item>

              <ion-item *ngIf="pageParam.isApproval">
                <ion-label>Department</ion-label>
                <ion-select [(ngModel)]="filter.cmbDepartment" interface="popover">

                  <ion-option *ngFor="let object of this.helperProvider.getCmbRule(this.filterRule,'cmbDepartment')"
                              [value]="object.value">{{object.text}}</ion-option>
                </ion-select>
              </ion-item>



              <ion-item *ngIf="pageParam.isApproval">
                <ion-label>Section</ion-label>
                <ion-select [(ngModel)]="filter.cmbSection" interface="popover">

                  <ion-option *ngFor="let object of this.helperProvider.getCmbRule(this.filterRule,'cmbSection')"
                              [value]="object.value">{{object.text}}</ion-option>
                </ion-select>
              </ion-item>




              <ion-item *ngIf="pageParam.isApproval">
                <ion-label >Search by</ion-label>
                <ion-select  [(ngModel)]="filter.cmbSearch" interface="popover">
                  <ion-option *ngFor="let object of this.helperProvider.getCmbRule(this.filterRule,'cmbSearch')" [selected]="true" [value]="object.value" >{{object.text}}</ion-option>
                </ion-select>
              </ion-item>


              <ion-item *ngIf="pageParam.isApproval">
                <ion-label >Key word</ion-label>
                <ion-input [(ngModel)]="filter.keyWord"></ion-input>
              </ion-item>


                <ion-item>
                    <button (click)="getList()" ion-button="" block="">Search</button>
                </ion-item>

            </span>

        </ion-list>
        <p style="background: #C4F0FF;padding-top:0;padding-bottom:0" no-padding="" >Listing</p>
        <span *ngIf="this.listData"><p padding="" *ngIf="  listData.total == 0">No record</p></span>

        <ion-grid *ngIf="listData">
            <ion-row >
                <!--<p>page: {{currentVisitationData.page}}/{{currentVisitationData.maxpage}}</p>-->
                <ion-col col-12="" col-sm-6="" col-md-4="" *ngFor="let record of listData.data">
                         <ion-card >
                        <ion-card-header  (click)="record.isOpen = !record.isOpen">
                            <ion-item no-padding="">
                                <h2 status-color="">{{pageParam.isApproval ? record.data5 : record.status | ifEmptyThenDash}}</h2>
                                <span item-right="">
                                    <ion-icon name="arrow-down" *ngIf="record.isOpen"></ion-icon>
                                    <ion-icon name="arrow-up" *ngIf="!record.isOpen"></ion-icon>
                                </span>

                                <p status-color="" [innerHtml]="pageParam.isApproval ? '' : record.status | keepAsHtml " ></p>
                            </ion-item>
                        </ion-card-header>



                        <div *ngIf="record.isOpen" ngClass=" animation-expand-bottom">
                            <ion-list class="visitationMini" ngClass="ionContent" >
                                <ion-item *ngIf="pageParam.isApproval">
                                    Employee
                                    <span item-end="">{{record.data0}}</span>
                                </ion-item>

                                <ion-item>
                                    Created date
                                    <span item-end="">{{(this.pageParam.isApproval ? record.data1 : record.created_date) | ifEmptyThenDash:record.employee}}</span>
                                </ion-item>
                                <ion-item>
                                    Exchange Date On
                                    <span item-end="">{{(this.pageParam.isApproval ? record.data3 : record.exchange_date_from) | ifEmptyThenDash}}</span>
                                </ion-item>
                                <ion-item>
                                    Exchange Date With
                                    <span item-right="">{{(this.pageParam.isApproval ? record.data4 : record.exchange_date_to) | ifEmptyThenDash }}</span>
                                </ion-item>
                            </ion-list>


                            <ion-row no-padding>
                                <ion-col (click)="pushDetailPage(record)" text-center="">
                                    <button ion-button block color="primary" icon-center>
                                        Detail
                                    </button>
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

</ion-content>
