detail-key-value {

  .detailKeyValue{
    .keyValue{
      border-bottom: 1px solid #aaaaaa;

    }

    .key{
      background: #F9F9F9;font-weight: bold;
    }
    .value{
      padding-left:16px;
    }
    .title{
      border-bottom: 1px solid #aaaaaa;
    }
  }

  ion-list{
    margin-bottom:32px !important;
  }
  

}
