section-floating-input {

  margin-bottom: 36px !important;
  margin-top: 36px;
  display: block;


  .title{
    background: #eee;
    padding-top: 12px;
    text-align: center;
  }

  floating-input{
    //margin-bottom: -20px;
  }

  .form-body{
    background: #fcfcfc !important;
    padding: 0px 12px 24px;
  }




}
