section-floating-input {

  margin-bottom: 36px !important;
  margin-top: 36px;
  display: block;


  .title{
    background: #D8EAF0;
    color: #444;
    padding-top: 12px;
    text-align: center;
  }

  floating-input{
    //margin-bottom: -20px;
  }

  .form-body{
    background: #fdfdfd !important;
    padding: 12px 12px 24px;
  }




}
