<div class="calendar-header">
  <ion-row class="calendar-month">
    <ion-col col-2 >
      <!--<ion-icon name="arrow-back"></ion-icon>-->
    </ion-col>
    <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
    <ion-col col-2 >
      <!--<ion-icon name="arrow-forward"></ion-icon>-->
    </ion-col>
  </ion-row>
</div>
<div class="calendar-body">
  <ion-grid>
    <ion-row class="calendar-weekday">
      <ion-col>Su</ion-col>
      <ion-col>Mo</ion-col>
      <ion-col>Tu</ion-col>
      <ion-col>We</ion-col>
      <ion-col>Th</ion-col>
      <ion-col>Fr</ion-col>
      <ion-col>Sa</ion-col>
    </ion-row>
    <ion-row class="calendar-date">
      <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}
      </ion-col>
      <ion-col col-1 *ngFor="let day of daysInThisMonth; let i = index" (click)="selectDate(day)">
        <span [ngClass]="{'currentDate':currentDate===day,'otherDate':currentDate!==day,'selected':day==this.selectedDay}">{{day}}</span>

        <div>
            <span *ngFor="let event of calenderEvents"><div *ngFor="let currentDescription of event.description" style="display: inline-block;margin:0;"><div *ngIf="currentDescription.dateIndex == i" [ngStyle]="{background:event.color}" class="event-bullet"></div></div></span>


        </div>

          <!--*ngIf="checkEvent(day)"-->


      </ion-col>
      <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div class="selected-event" *ngIf="isSelected">
  <ion-list>
    <ion-item *ngFor="let se of selectedEvent">
      <ion-buttons end>
        <button ion-button clear icon-only (click)="deleteEvent(se)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <h2>{{se.title}}</h2>
      <h3>{{se.message}}</h3>
      <p>Start Date: {{se.startDate}}<br>
        Start Date: {{se.endDate}}</p>
    </ion-item>
  </ion-list>
</div>

<!--<div class="legend">-->
  <!--<p style="margin-top: 12px"> <b>Legend</b></p>-->
  <!--<div style="margin-top: 12px" *ngFor="let event of calenderEvents">-->
    <!--<div style="width:15px;height:15px;vertical-align: middle" [ngStyle]="{background:event.color}" class="event-bullet"></div>-->
    <!--{{event.legend | ucWord}}-->
  <!--</div>-->
<!--</div>-->


<h5 text-center="">Date Information</h5>
<div [innerHtml]="this.bottomDescription | keepAsHtml">

</div>
